<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728554582387-417ar5kbb2p4dj9k5a7f95q8vd7ntbt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728554582387-417ar5kbb2p4dj9k5a7f95q8vd7ntbt0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>728554582387-d8f2qc0hmeq9u95c916oluri88ivfc09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGrJYiBsJAXmehVdYP0AJjSxmi4nT13jw</string>
	<key>GCM_SENDER_ID</key>
	<string>728554582387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mothclassifier.www</string>
	<key>PROJECT_ID</key>
	<string>moth-classifier</string>
	<key>STORAGE_BUCKET</key>
	<string>moth-classifier.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728554582387:ios:2033aa1311be89b1201506</string>
	<key>DATABASE_URL</key>
	<string>https://moth-classifier.firebaseio.com</string>
</dict>
</plist>